{% extends "base.html" %}

{% block content %}

<form action="user" method="get">
	<table width="40%">
		<tr>
			<th>
				<h4 class="text">Enter Instagram UserName:</h4>
			</th>
			<td>
				<input type="text" name="uname" placeholder="ex: instagram" required class="form-control">
			</td>
			<td>
				<input type="submit" name="get" value="get" class="btn btn-primary">
			</td>
		</tr>
	</table>			
</form>

<div class="container">
	
	<a href="#" class="btn btn-link"><h1>Popular instagram accounts:</h1></a>
	<br>
	<a href="#" class="btn btn-link"><h1>Popular Fashion influencers:</h1></a>

</div>	

{% endblock %}